<IfModule mod_rewrite.c>
    RewriteEngine On

    # Chuyển mọi request về index.php, trừ những request có file hoặc thư mục tồn tại sẵn
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]
</IfModule>
